.charsheet {
    background-color:#F9BE49;
}

.sheet-runner {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 10px;
    grid-template-areas:
        "name       name       age       "
        "power      power      power     "
        "roll       appearance appearance"
        "harm       appearance appearance"
        "questions  questions  questions "
        "endgame    endgame    endgame   "
        ;
}
.sheet-runner .sheet-block {
    background-color:#F9D080;
    border-start-start-radius: 16px 100%;
    border-end-end-radius: 16px 100%;
    padding: 8px 16px;
}
.sheet-runner .sheet-name {
    grid-area: name;
}
.sheet-runner .sheet-age {
    grid-area: age;
}
.sheet-runner .sheet-power {
    grid-area: power;
}
.sheet-runner .sheet-appearance {
    grid-area: appearance;
}
.sheet-runner .sheet-roll {
    grid-area: roll;
}
.sheet-runner .sheet-harm {
    grid-area: harm;
    justify-self: end;
    justify-items: stretch;
    align-self: center;
    text-align: center;
}
.sheet-runner .sheet-questions {
    grid-area: questions;
}
.sheet-runner .sheet-endgame {
    grid-area: endgame;
}

.sheet-block label {
    width: inherit;
    display: grid;
    align-items: center;
    white-space: nowrap;
}

/* General sheet input elements should be full-width */
.sheet-block label input[type=text],
.sheet-block label input[type=number],
.sheet-block label textarea,
.sheet-block label select {
    width: inherit;
}

/* Hide the radio button and style the label span */
.sheet-harm input[type=radio] {
    display: none;
}

.sheet-harm input[type=radio] + span
{
    cursor: pointer;

    border:1px solid black;
    border-top-left-radius: 3em 100%;
    border-top-right-radius: 3em 100%;
    border-bottom-right-radius: 3em 100%;
    border-bottom-left-radius: 3em 100%;
    padding: 0.25em 1.5em;
    text-align: center;

    background: #F9D080;
    box-shadow: 3px 3px 6px black;
}

.sheet-harm input[type=radio]:checked + span
{
    background: #F9BE4A;
    box-shadow: 0px 0px 7px 0px #000000 inset;
}

/* Appearance textarea should be about 4 lines high */
.sheet-appearance textarea {
    height: 9ex;
    height: 4lh; /* Forward-compatible to CSS Level 4 */
}

/* Question answer textareas should be about 4 lines high */
.sheet-questions textarea {
    height: 9ex;
    height: 4lh; /* Forward-compatible to CSS Level 4 */
}

/* Repeated questions section */
.charsheet .repcontrol[data-groupname=repeating_question] button.repcontrol_edit, 
.charsheet .repcontrol[data-groupname=repeating_question] button.repcontrol_add {
  font-family: "Special Elite";
  font-weight: 700;
  font-size: 1.1em;
}
.charsheet .repcontainer[data-groupname=repeating_question] {
  width: 100%;
}
.charsheet .repcontainer[data-groupname=repeating_question] > .repitem {
  display: flex;
  justify-content: center;
  gap: 3px;
  flex-flow: wrap row;
}
.charsheet .repcontainer[data-groupname=repeating_question] > .repitem .repcontrol_del {
  font-family: "Pictos";
  font-size: 1.1em;
  padding: 3px 7px 2px;
}
.charsheet .repcontainer[data-groupname=repeating_question] > .repitem .repcontrol_move {
  font-size: 1.3em;
  padding: 3px 7px;
}
